pytest==7.4.3
pytest-cov==4.1.0

flask==3.0.0

requests==2.31.0
beautifulsoup4==4.12.2
pystardog==0.17.0
rdflib==7.0.0
# tenacity==8.2.3

spacy==3.7.2   # And download the corresponding -trf model
nltk==3.8.1
PyDictionary~=2.0.1

torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0

word2number~=1.1

openai==0.28.1