pytest~=7.1.2
pytest-cov~=3.0.0

lark~=1.1.2
requests~=2.27.1
beautifulsoup4~=4.11.1
pystardog~=0.11.1

PySimpleGUI~=4.59.0

matplotlib~=3.5.1
networkx~=2.8
numpy~=1.22.0
pandas~=1.4.2
scipy~=1.8.0

spacy~=3.2.4
textblob~=0.17.1
nltk==3.7
PyDictionary~=2.0.1

wordcloud~=1.8.1
word2number~=1.1