pytest==8.1.1
pytest-cov==4.1.0

flask==3.0.2

requests==2.31.0
beautifulsoup4==4.12.3
pystardog==0.17.0
rdflib==7.0.0
# tenacity==8.2.3

spacy==3.7.4   # And download the corresponding -trf model
spacy-transformers==1.3.4   # Install of torch
# nltk==3.8.1
# PyDictionary~=2.0.1

word2number~=1.1

openai==1.14.0
PassivePy==0.2.23